*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;  
    text-align: center;
    width: 750px;
}

.header{
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    width: 700px;
    background-color: rgb(200, 10, 10);
}
.nav{
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    width: 700px;
    background-color: aqua;
}

.section{
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    width: 700px;
background-color: yellowgreen;
 }

 .article{
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    width: 700px;
background-color: orange;
 }
.aside{
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    width: 700px;
background-color: rgb(227, 150, 199);
}
.end{
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    width: 700px;
background-color: gray;
}